.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto;
}

.arrow-btn {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 0px;
}

.arrow {
  height: 25px;
  width: 25px;
}
